* {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.table-1 {
  background-color: orange;
  align-items: stretch;
}

.table-2 {
  background-color: powderblue;
  align-items: stretch;
}

.table-3 {
  background-color: pink;
  align-items: stretch;
}

.table-4 {
  background-color: lightyellow;
  align-items: stretch;
}

table,
th,
td {
  border: 1px solid;
}
